<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="refresh" content="60" />
  <link href="http://assets3.twitter.com/static/1247525898/twitter.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <style type="text/css">
    body {
      background: #9AE4E8 url('http://assets2.twitter.com/images/bg.gif') fixed no-repeat top left;
    }
    #my_container {
      margin: 0.3em 0 0.3em 0.3em;
      text-align: left;
    }
  </style>
  <title>TwitRel</title>
 </head>
 <body>
   <%= yield %>
 </body>
</html>
